<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Strategy Analysis Report</title>
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script src="../static/js/apexcharts.js"></script>
  </head>

  <body>
     <div id="report">
       <p>Total profit: <span id="total-profit"></span></p>
       <p>N trades: <span id="n-trades"></span></p>
       <p>N profitable trades (UP): <span id="n-up-trades"></span></p>
       <p>N unprofitable trades (DOWN): <span id="n-down-trades"></span></p>
       <p>Risk/Reward ratio: <span id="rr"></span></p>
     </div>
     <div id="trades"></div>
     <script src="../static/js/tick-series-renderer.js"></script>
     <script src="../static/js/strategy-analysis-report.js"></script>
  </body>
</html>
